@font-face {
  font-family: "LobsterRegular";
  src: url("./Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RecoletaRegular";
  src: url("./Recoleta-RegularDEMO.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
